@font-face {
    font-family: HaloHandletter;
    src: url("HaloHandletter.otf") format("opentype");
}

.ember-view {
    .nav {
        .active, .active:hover, .active:focus {
            color: #555;
            background-color: #e7e7e7;
        }
    }

    .list-group-item:first-of-type {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
    }

    .list-group-item:last-of-type {
        margin-bottom: 0;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .empty-message {
        font-family: HaloHandletter;
        font-size: 50px;
        color: #555555;

        a:hover {
            text-decoration: none;
        }
    }

    .document {
        .document-name-field {
            width: 80%;
            margin-top: 6px;
            margin-bottom: 5px;
        }

        .document-body {
            width: 100%;
            min-height: 300px;
            border: 1px solid #dddddd;
            padding: 10px;
        }

        .document-header {
            margin-bottom:20px
        }

        .document-footer {
            margin-top:20px;
            margin-bottom:20px
        }

        .md-editor > .md-preview {
            padding: 10px 10px 0 10px;
        }

        h4 {
            font-size: 16px;
        }
    }
}
