@font-face {
    font-family: HaloHandletter;
    src: url("HaloHandletter.otf") format("opentype");
}

.ember-view {
    .nav {
        .active, .active:hover, .active:focus {
            color: #555;
            background-color: #e7e7e7;
        }
    }

    .list-group-item:first-of-type {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
    }

    .list-group-item:last-of-type {
        margin-bottom: 0;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .empty-message {
        font-family: HaloHandletter;
        font-size: 50px;
        color: #555555;

        a:hover {
            text-decoration: none;
        }
    }

    .file-hover {
        position: relative;

        .file-hover-message {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.8;
            font-size: 144px;
            background: rgba(102, 51, 153, 0.2); // becca purple with opacity

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -72px;
                margin-left: -72px;
            }
        }
    }

    .file-hover-message {
        display: none;
    }

    .document {
        .document-name-field {
            width: 80%;
            margin-top: 6px;
            margin-bottom: 5px;
        }

        .document-body {
            width: 100%;
            min-height: 300px;
            border: 1px solid #dddddd;
            padding: 10px;
        }

        .document-header {
            margin-bottom:20px
        }

        .document-footer {
            margin-top:20px;
            margin-bottom:20px
        }

        .md-editor > .md-preview {
            padding: 10px 10px 0 10px;
        }

        h4 {
            font-size: 16px;
        }

        .document-add-comment-btn {
            padding-bottom: 20px;
        }

        .comment-field {
            width: 100%;
        }

        .comment-cancel-btn {
            margin-left: 10px;
        }

        .comment-field-wrap, .comment-save-btn-wrap {
            margin-bottom: 20px;
        }

        .comment-delete-btn {
            float: right;
            color: black;
            font-weight: bold;
            font-size: 21px;
            text-shadow: 0 1px 0 #ffffff;
            opacity: 0.2;
        }

        .comment-delete-btn:hover, .comment-delete-btn:focus {
            text-decoration: none;
            opacity: 0.5;
        }
    }

    .documents-filter-field {
        width: 100%;
        margin-bottom: 20px;
    }
}
