.ember-view {
    .nav {
        .active, .active:hover, .active:focus {
            color: #555;
            background-color: #e7e7e7;
        }
    }

    .document-body {
        width: 100%;
        min-height: 300px;
        border: 1px solid #dddddd;
    }
}
