<div class="panel panel-default">
    <div class="panel-heading">
        <button type="button" id="save-document-btn" class="btn btn-primary ladda-button" {{action "save"}} {{bind-attr disabled="isNotDirty"}} style="float:right" data-style="zoom-in" data-spinner-size="25">
            <span class="ladda-label"><i class="fa fa-floppy-o"></i></span>
            <span class="ladda-spinner" data-size="xs"></span>
            <div class="ladda-progress" style="width: 0px;"></div>
        </button>
        {{view Ember.TextField valueBinding="name" class="document-name-field"}}
    </div>
    <div class="panel-body">
        {{view Ember.TextArea valueBinding="body" class="document-body"}}
    </div>
</div>
