<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{name}}</h3>
        <small class="text-muted">{{prettifyDate createdAt}}</small>
    </div>
    <div class="panel-body">{{body}}</div>
</div>
